<%= form_tag("/api/shorten", name: 'shorten') do %>  

  <div class="field">
    <p>Long_url</p>
    <input name="long_url" />
  </div>  
  <div class="actions">
    <input type="submit" value="submit"/>
  </div>
<% end %>
