<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Long url</th>
      <th>Clicks</th>
      <th>Shorten url</th>      
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.long_url %></td>
        <td><%= link.clicks %></td>
        <td><%= link_to encoded_url_fromid(link.id), encoded_url_fromid(link.id) %></td>                
      </tr>
    <% end %>
  </tbody>
</table>

