<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Long url</th>
      <th>Clicks</th>
      <th>User</th>      
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.long_url %></td>
        <td><%= link.clicks %></td>
        <td><%= link.user_id %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

